<div class="content">
  <div class="content__desc">
    <%= @exhibition.name %>
  </div>

  <ul class="exhibition-photos">
    <%= render partial: 'photo', collection: @exhibition.photos %>
  </ul>

  <div class="content__date">
     <%= I18n.l(@exhibition.created_at, format: :short) %>
  </div>
</div>
