body {
  background-color: white;
}

.main {
}

.menu {
  background-color: white;
  padding: 10px;
}

.menu__site-name {
  font-size: 2.0em;
  color: black;
}

.photo-suits {

}

.photo-suits__item {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

.content {
  background-color: white;
}

.content--hidden {
  display: none;
}
