<div class="content">
   <div class="content__desc">
     satoshikimura
  </div>
  Born in Niigata city in July. My constellation is cancer.
  <a href="mailto:yamakabe969@gmail.com">yamakabe969@gmail.com</a>
</div>
