<div class="content content--video js-hidden-content" data-href="main">
  <video autoplay
     loop
     width="100%"
     id="main-video">
     <source src="movies/mashiko.mp4">
ビデオ対応のブラウザで見てください
  </video>
  <script>
   document.getElementById('main-video').muted = true;
  </script>
</div>
