.content {
  background-color: transparent;
  padding: 10px;

  &--video {}

  &--hidden {
    display: none;
  }


  &__background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }


  &__desc {
    font-weight: bold;
    margin: 10px 0;
  }

  &__list-item {
    display: block;
    text-align: center;
    margin: 100px 0;
    max-width: 100%;
  }
  &__list-item img {
    border: 1px solid #ddd;
  }

  &__date {
    text-align: right;
  }

  &__body {
    &--markdown {
      h1 {
        font-size: 2em;
        font-weight: bold;
        margin-top:  1.2em;
      }
      h2 {
        font-size: 1.8em;
        font-weight: bold;
        margin-top:  1.2em;
      }
      h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-top:  1.2em;
      }
      h4 {
        font-size: 1.3em;
        font-weight: bold;
        margin-top:  1.2em;
      }
      h5 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top:  1.2em;
      }
      h6 {
        font-size: 1em;
        font-weight: bold;
        margin-top:  1.2em;
      }
      ul {
        margin-left: 2em;
        margin-top:  1.2em;
        li {
          list-style-type: disc;
        }
      }

      ol {
        margin-left: 2.6em;
        margin-top:  1.2em;
        li {
          list-style-type: decimal;
        }
      }

      p {
        margin-top:  1.2em;
      }
    }
  }
}
