.header {
  background-color: transparent;
  padding: 10px;

  &__site-info {
    display: block;
  }

  &__site-name {
    background-color: rgba(19, 142, 158, 0.5);
    display: inline-block;
    font-size: 2.0em;
    color: #ff7100;
    cursor: pointer;
  }

  &__menu {
    display: inline-block;

    &-photo-suit {
      display: inline-block;
      list-style: none;
      margin-left: 10px;
    }

    &-address {
      display: inline-block;
    }
  }
}


